# Virtual environment
venv/
myenv/
.env/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Logs and local data
*.sqlite3

# OS and editor files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Build and package directories
build/
dist/
*.egg-info/

# Jupyter notebook checkpoints
.ipynb_checkpoints/